.selected-players{
    display: flex;
    height: 80px;
    width: 210px;
    border: 1px solid red;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    background-color: rgb(250, 119, 119);
}
.selected-players .photos{
    height: 80px;
    width: 80px;
    margin-right: 10px;
    border-radius: 5px;
}

.detail p {
    font-size: 15px;

}